
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

*{
    margin: 0;
    padding: 0;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
    cursor: pointer;
    /* opacity: 0.9; */
}

.logo{
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo img{
    width: 33%;
    border: solid white 3px;
    border-radius: 50px;
}

.nav-list{
    width: 70%;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    padding: 0px;

}

.nav-list li{
    list-style: none;
    padding: 26px 30px;

}

.nav-list li a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-family: 'Ubuntu', sans-serif;;

}
.nav-list li a:hover{
    color: rgb(217, 221, 12);

}

.berger{
    display: none;
    position: absolute;
    cursor: pointer;
    right: 5%;
    top: 15px;
}
.line{
    width: 33px;
    height: 4px;
    background-color: white;
    margin: 3px 3px;
}
.rightNav{
    width: 30%;
    padding: 0 23px;
    text-align: right;
}

#search{
    padding: 5px;
    font-size: 17px;
    border: 2px solid grey;
    border-radius: 9px;
}

.background{
    background: rgba(0, 0, 0, 0.7) url('../images/backg.jpg');
    background-size: cover;
    background-blend-mode: darken;
}

.box-main{
    display: flex;
    justify-content: center;
    align-items: center;
    color: rosybrown;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    max-width: 50%;
    margin: auto;
    height: 75%;

}
.firstSection{
    height: 100vh;
}

.firstHalf{
    width: 80%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.secondHalf{
    width: 30%;
}

.secondHalf img{
    width: 85%;
    border: 2px solid white;
    border-radius: 150px;
    display: block;
    margin: auto;
}

.text-big{
    font-size: 41px;
}

.text-small{
    font-size: 18px;
}

.btn{
    padding: 8px 20px;
    margin: 7px 3px;
    border: 2px solid white;
    border-radius: 8px;
    cursor: pointer;
    background: none;
    color: white;
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;

}
.btn:hover{
    color: dimgray;
}

.btn-sm{
    padding: 6px 10px;
    vertical-align: middle;
    font-size: 16px;
}

.btn-dark{
    color: black;
    border: 2px solid grey;
    padding: 6px 10px;
    vertical-align: middle;
    font-size: 16px;
}



.section{
    height: 350px;
    display: flex;
    justify-content: space-evenly;
    font-family: 'Ubuntu', sans-serif;
    align-items: center;
    max-width: 80%;
    margin: auto;
}
.section-Left{
    flex-direction: row-reverse;
}
.sectionSubTag{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.sectionTag{
    padding: 16px 0;
}
.paras{
    padding: 0 65px;
}

.thumbnail img{
    width: 230px;
    border-radius: 25PX;
    border: 2px solid black;
    margin-top: 20px;
}

.contact{
    background-color: rgb(234 231 226);
    height: 800px;
}
.text-advance{
    text-align: center;
    padding-top: 20px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 35px;
}

.form{
    max-width: 500px;
    margin: 25px auto;
}

.form-input{
    margin: 14px 0;
    padding: 5px 10px;
    width: 100%;
    font-size: 19px;
    border: 2px solid grey;
    border-radius: 6px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.text-footer{
    text-align: center;
    padding: 20px;
    font-family: 'Ubuntu', sans-serif;
    color: white;
}

@media only screen and (max-width: 1100px){
    .nav-list{
        flex-direction: column;
    }
    .navbar{
        flex-direction: column;
    }
    .rightNav{
        text-align: center;
    }
    #search{
        width: 100%;
    }
    .berger{
        display: block;
    }
}